:root {
	--number0: transparent;
	--number1: black;
	--number2: green;
	--number3: blue;
	--number4: red;
	--number5: orange;
	--number6: purple;
	--number7: salmon;
	--number8: brown;
	--text: black;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
