:root {
	--number0: transparent;
	--number1: #212121;
	--number2: #33691E;
	--number3: #006064;
	--number4: #1A237E;
	--number5: #4A148C;
	--number6: #E65100;
	--number7: #880E4F;
	--number8: #B71C1C;
	--cell-discovered: #CCCCCC;
	--text: #FFFFFF;
	--primary-color: #3F51B5;
	--primary-color-hover: #283891;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: monospace;
	height: 100%;
}